<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="blue-frame">
  <template>
    <style>
      :host {
        display: block;
        border: 1px solid blue;
        padding: 10px;
      }
    </style>
    <span>[[baseContent]]</span>
    <slot></slot>
  </template>
  <script>
    
    window.BlueFrame = class extends Polymer.Element {
      static get is() { return 'blue-frame'; }
      static get properties() {
        return {
          baseContent: {
            type: String,
            value: 'blue frame',
          }
        }
      }
    }

    window.customElements.define(BlueFrame.is, BlueFrame);
  </script>
</dom-module>
