<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="red-frame">
  <template>
    <style>
      :host {
        display: block;
        border: 1px solid red;
        padding: 10px;
        margin: 2px 0 2px 0;
      }
    </style>
    <slot></slot>
  </template>
  <script>
    
    class RedFrame extends Polymer.Element {
      static get is() { return 'red-frame'; }
    }

    window.customElements.define(RedFrame.is, RedFrame);
  </script>
</dom-module>